# Automatically normalize line endings
* text=lf

# Declare binary files to prevent Git from diffing them as text
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.mov    binary
*.mp4    binary
*.mp3    binary
*.ttf    binary
*.woff   binary
*.woff2  binary
*.eot    binary
*.otf    binary
*.pdf    binary
